/* OverlayMenu.css */

.overlay-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-family: "Orbitron", sans-serif;
  -webkit-text-stroke: 2px black;
}

.overlay-menu button {
  margin: 10px;
  font-family: inherit;
  font-size: 56px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
}

.overlay-menu .title {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-size: 68px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.overlay-menu button:hover {
  color: rgb(145, 41, 69);
}
